.footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;

  padding: 2rem;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.footer-links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 20px;
}